/* font style  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* =========common style=========  */
body{
    font-family: 'Poppins', sans-serif;
    background-color:#FFFFFF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 90%;
    padding: 20px;
    margin-top: 21px;
    border-radius: 5px;

    border: 1px solid;
}


/* ===========header style start======*/
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header .header-content{   
    width: 90%;
    display: flex;
    padding: 20px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-between; 



    border: 2px solid ;
}
.influ-prdt{
    display: flex;
    align-items: center;
}
.influ-prdt p{
    font-size: 24px;
    color:black;
    font-weight: 700;
    margin-left: 0px;
}
/* ------------- */
nav{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 36px;
}
nav ul li:hover> a{
    background-color: rgb(240, 240, 230);
    border-radius: 10px;
    color: rgb(109, 104, 102);
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
/* ==========================
    main section start
============================= */

/*------Influencer section ----- */
.influencer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 420px;
}
.influencer-about{
    width: 50%;
    margin-left: 5px;
    width: 580px;
    height: 270px;
}
.influencer-about h1 {
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 70px;
 }
 .Preebook-btn{
    width: 150px;
    background: #E02C6D;
    padding: 10px 24px;
    border-radius: 40px;
 }
 .Preebook-btn a{
    text-decoration: none;
    color: white;
 }
 .Preebook-btn i{
     color: white;
     margin-left: 5px;
 }

.influencer-img{
    width: 50%;
   
}
.influencer-img img{
    position: absolute;
    width: 440px;
    height: 414px;  
    margin-left: 100px;
}
/*------Influencer section End----- */

/*---- logo section start-----  */
.logos{
   height: 125px;
   align-items: center;
   flex-direction: column;
  border-top:3px solid #f1e9e9;
  border-bottom:3px solid #f1e9e9;
}
.logo{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-top: 30px;
    margin-bottom: 30px;
}
.logo img{
    width: 120px;
    height: 60px;
}
/*------Logo Section end----- */

/* =========Popular Collection ====== */
.popular-collection-title{
    margin-top: -5px;
    text-align: center;
}
.all-collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px; 
}

.collection{
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 20px;
    width: 320px;
    height: 475px;  
    padding: 15px;
    border: 1px solid;
}
/* me  */
.collection-banner img {
    width: 100%;
    height: 256px;
}
.collection-details{

}
.collection-title{
    font-size: 28px;
    margin: 0;
}
.collection-price{
    font-size: 20px;
    margin: 0;
}
.collection-star{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.rating{
    margin-left: 10px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color:#FFC014;
}
.fa-star.empty{
    color:#AEAEAE;
}
.collection-info{
    font-size: 15px;
}

/* ------- */
.see-more-btn{
    float: right;
    width: 120px;
    /* background: #e7dee0; */
    padding: 10px 24px;
    border-radius: 40px;
 }
 .see-more-btn a{
    text-decoration: none;
    color: #e60e5d;
 }
 .see-more-btn i{
     color: #e71461;
     margin-left: 5px;
 }