/* font style  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* =========common style=========  */
body{
    font-family: 'Poppins', sans-serif;
    background-color:#FFFFFF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 110px; */
}
.container{
    background-color: #FFFFFF;
    width: 90%;
    padding: 20px;
    margin-top: 21px;
    border-radius: 5px;
}

/* ===========header style start======*/
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.header-content{   
    width: 90%;
    display: flex;
    padding: 20px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-between; 

    /* position: fixed;
    background-color: #f6f6f6; */
}
.Influencer-product{
    display: flex;
    align-items: center;
}
.Influencer-product p{
    font-size: 24px;
    color:black;
    font-weight: 700;
    margin-left: 20px;
}
.Influencer-product i{
    font-size: 26px;
}
/* ------------- */
nav{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 36px;
}
nav ul li:hover> a{
    /* background-color: rgb(255, 255, 245); */
    border-radius: 10px;
    color:#E02C6D;
    cursor:progress;
}
nav ul li:hover> i{
    border-radius: 10px;
    color: rgb(12, 12, 0);
    cursor: progress;
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
}


/* ==========================
    main section start
============================= */

/*------Influencer section ----- */
.influencer-about h1 {
    font-size: 45px;
 }
.influencer{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
}
.influencer-about{
    width: 50%;  
    /* width: 580px; */
}


 .Preebook-btn{
    width: 150px;
    background: #E02C6D;
    padding: 10px 24px;
    border-radius: 40px;
 }
 .Preebook-btn a{
    text-decoration: none;
    color: white;
 }
 .Preebook-btn i{
     color: white;
     margin-left: 5px;
 }

.influencer-img{
    width: 50%;
    position: relative;
    /* width: 580px; */
}

.influencer-img img{
    width: 95%;
    width: 440px;
    height: 414px;  
    margin-left: 100px;
}
.main-camera{
    position: absolute;
    top: 0px;

}

.influencer-img:hover .main-camera {
    transform: scale(1.2);
    transition: transform 2s ease-in-out;
}



/*------Influencer section End----- */

/*---- logo section start-----  */
.logos{
   height: 125px;
   align-items: center;
   flex-direction: column;
  border-top:3px solid #f1e9e9;
  border-bottom:3px solid #f1e9e9;
}
.logo{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-top: 30px;
    margin-bottom: 30px;
}
.logo img{
    width: 120px;
    height: 60px;
}
/*------Logo Section end----- */

/* =========Popular Collection ====== */
.popular-collection-title{
    margin-top: -5px;
    text-align: center;
}
.all-collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px; 
}
.collection{
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 20px;
    width: 320px;
    height: 475px;  
    padding: 15px;
}
.collection-banner:hover img {
    transform: scale(1.05);
    transition: transform 2s ease-in-out;
}
.collection-banner img {
    width: 100%;
    height: 256px;
}
.collection-title{
    font-size: 28px;
    margin: 0;
}
.collection-price{
    font-size: 20px;
    margin: 0;
}
.collection-star{
    display: flex;
    align-items: center;
    
}
.rating{
    margin-left: 10px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color:#FFC014;
}
.fa-star.empty{
    color:#AEAEAE;
}
.collection-info{
    font-size: 15px;
}

/* ------- */
.see-more-btn{
    float: right;
    width: 120px;
    /* background: #e7dee0; */
    padding: 10px 24px;
    border-radius: 40px;
 }
 .see-more-btn a{
    text-decoration: none;
    color: #e60e5d;
 }
 .see-more-btn i{
     color: #e71461;
     margin-left: 5px;
 }

/* extra section */

.newsletter {
    background-image: url(images/extra1.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 0 40px #dbdbdb;
    padding: 100px 0;
    text-align: center;
}
.newsletter h1 {
    margin-bottom: 30px;
}
.newsletter-box form {
	display: inline-block;
}
 .email-part{
    border: 1px solid #f1ecec;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    height: 50px;
    padding: 10px 10px 10px 25px;
    width: 100%;
    margin-bottom: 30px;
}

.submit-btn{
    width: 150px;
    background: #E02C6D;
    padding: 10px 24px;
    border-radius: 40px;
    color: white;
 }
 .submit-btn i{
     color: white;
     margin-left: 10px;
 }

  /* ====== Footer section====== */
  .foot {
    padding: 20px;
    text-align: center;
    background-color: #111029;
}
.foot h2,h4{
    color: #f5f1f1;
}
.foot-icon a{
    color: azure;
    font-size: 24px;
    padding-left: 20px;
}

/*=========================*\
       media Query
\*==========================*/

/*--- Mobile Device --- */
@media only screen and (max-width:688px) {
    .container ,.influencer, .foot, .container{
        width: 100%;
        justify-content: space-around;
    }

    .influencer-about> h1{
        font-size: 20px;
     }
    .Influencer-product p{
        font-size: 15px;
        margin-left: 10px;
    }
    .influencer{
        display: flex;
        flex-direction: column;
    }
    .influencer-img img{
        width: 100%;
        width: 440px;
        height: 414px;  
        margin-left: 0px;
        margin-top: 20px;
    }
   
    .all-collections{
        grid-template-columns: repeat(1, 1fr);
    }
    .collection{
        flex-direction: column;
        align-items: center;
    }
    .logos{
        height: 300px;
    }
    .logo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap:10px ;
    } 
    nav li a{
        display: none;
    }
}

 /*------tablet devices----- */
  @media only screen and (min-width:689px) and (max-width:922px) {
    .container ,.influencer, .foot, .container{
        width: 100%;
        justify-content: space-around;
    }
    .all-collections{
        grid-template-columns: repeat(2, 1fr);
    }
    .collection{
        flex-direction: column;
        justify-content: center;
    }
    .logos{
        height: 200px;
    }
    .logo{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap:10px ;
    } 
    nav li a {
        display: none;
    }
}